<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>KelSave!</h1>
<span class = "note">get cheap stuff for cheap</span>
<br>
<br>
{{#user}}
<span>Hello, {{name}}!</span>
{{/user}}
<form action="/addToCart" method="post">
    <input type="text" placeholder="Name of the item" name="name"/><br>
    <input type="text" placeholder="Quantity of the item" name="quantity"/><br>
    <input type="text" placeholder="Price of the item" name="price"/><br>
    <button type="submit">Add to Cart</button>
</form>
<br>
<span>Items currently in your cart:</span>
<ul>
    {{#item}}
<li>{{name}}</li>
<span>Quantity: {{quantity}}, Price: ${{price}} each</span>
    {{/item}}

</ul>

</body>
</html>