<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <LINK href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style = "float:left;width 90%;">
{{#user}}
<span> Hello, {{name}}! Are you ready to check out?</span>
{{/user}}
    <br>
<span class="cart">These are the items that are currently in your cart:</span>
<ul class="cart">
    {{#item}}
    <li>{{name}}</li>
    <span>Quantity: {{quantity}}, Price: ${{price}} each</span>
    {{/item}}
</ul>
<span class="cart">Subtotal: ${{subtotal}}</span>
<br>
<span class="total">Total (with tax): ${{total}}</span>
<form method="post" action="/checkout">
    <button type="submit">Checkout</button>
</form>
<br>
<br>
<span class="cart">Not ready to check out? Click <a href="/addToCart">here</a> to get back to shopping!</span>
    <br>
    <br>
</div>
<div style = "float:right;width 10%;">
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</div>
</body>
</html>