<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KelSave</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Welcome to KelSave!</h1>
<p>Already have an account with us? Login below:</p>
<form action="/login" method="post">
    <input type="text" placeholder="Enter your email address" name="email"/>
    <button type="submit">Login</button>
</form>
<p>Don't have an account yet? Click the link below to register!</p>
<a href="/registration">Register!</a>
</body>
</html>